<header>
    <div class="header">
        <h1>Blog Web Application</h1>
        <div class="nav-links">
        <h2 class="home">HOME</h2>
        <h2 class="about-us">ABOUT US</h2>
        <h2 class="contact-us">CONTACT US</h2>
    </div>
    </div>

    
</header>